# Version of circle ci to use
version: 2.1

# A workflow is comprised of one or more uniquely named jobs.
jobs:
  build-test: # name of the job
    working_directory: ~/repo # In which directory to run the steps. Will be interpreted as an absolute path.
    docker:
      - image: cimg/node:16.15.0
        environment:
          DATABASE_URL: postgres://localhost/acme_db
          POSTGRES_USER: postgres
          POSTGRES_DB: acme_db
          JWT_SECRET: SuPerSecRetSuPeRSafe!
      - image: cimg/postgres:14.0
        environment:
          POSTGRES_USER: postgres
        auth:
          username: mydockerhub-user
          password: $DOCKERHUB_PASSWORD
    steps: # list of single key/value pairs
      - checkout # used to checkoutout the code from the specified directory (working_directory)
      - run: # key --> indicates the step type
          name: Install Dependencies # name of the step (not required)
          command: npm install # defines the command to execute at this step
      - run:
          name: Test
          command: npm run test

workflows: # used for orchestrating all jobs
  version: 2.1
  build-test: # job name that exists in the config.yml
    jobs: # list of jobs to run that must succeed
      - build-test
